
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Light.ttf'), format('ttf');
    font-weight:400
}

@font-face{
    font-family: 'Inter';
    src: url('./fonts/Inter-Black.ttf');
    font-weight: 600;
}

span{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}